<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
</head>
<body>
<div class="form-style-6">
    <h1>Are you sure?</h1>
    <form action="/post/success/" method="post">
        {% csrf_token %}
        <input type="hidden" name="nama" placeholder="Your Name" value="{{name}}"/>
        {{name}}
        <input type="hidden" name="status" placeholder="Your Status" value="{{status}}"/>
        {{status}}
        <br>
        <input class="submit-btn" type="submit" value="Post My Status"/>
    </form>
    <a href="/"><button>Cancel</button></a>
</div>
</body>
</html>