{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href='{% static "css/story7.css" %}'>
    <title>Story 7</title>
</head>
<body>
<div class="form-style-6">
    <h1>mau tulis status apa?</h1>
    <form action="/post/" method="post">
        {% csrf_token %}
        <input type="text" name="nama" placeholder="Your Name"/>
        <textarea name="status" placeholder="Your Status"></textarea>
        <input class="submit-btn" type="submit" value="Send"/>
    </form>
</div>
<div>
    <br><br><br>
    <h1>Status</h1>
    {% for i in data %}
    <div>
        Nama: {{ i.nama }}<br>
        Pesan: {{ i.pesan }}<br><br>
    </div>
    {% endfor %}
</div>
</body>
</html>